<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @question.user.name if @question.user %>
</p>
<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<p>
  <strong>Vote:</strong>
  <%= @question.vote %>
</p>

<p>
  <strong>Unvote:</strong>
  <%= @question.unVote %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<% if current_user.present? && current_user.id == @question.user.id %>
<%= link_to 'Edit', edit_question_path(@question) %> | 
<%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br></br>

<div>
  <b><font color = "blue">Have <%= @question.answers.count %> answer(s): </font></b>
<hr>
  <% if @question.answers.count > 0 %>
  <% @answers = @question.answers %>
  <% @answers.each do |answer| %>
      <strong>Title Answer:</strong> <%= answer.title %>
  </br>
      <strong>Answer:</strong> <%= answer.content %>
<% if current_user.present? && current_user.id == answer.user.id %>
<br></br>
<%= link_to 'Edit', edit_answer_path(answer) %> | 
<%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <hr>
  <% end %>
  <% end %>
</div>

<div class = "leave a comment">
    Leave a comment: 
  <p style="color: red", align="center"><b><%= flash[:error] %> </b></p>
<p>
  <%= render :partial => 'answers/form', :question => @question, :answer => @answer = Answer.new %>
</p>
</div>

</br>
<p>
<% if current_user.present? && current_user.id == @question.user.id %>
<%= link_to 'Create Question', new_question_path %> | 
<% end %>
<%= link_to 'List Question', listquestion_path %>
</p>