<% provide(:title, 'Users') %>

<div id="searchFrame">
  <%= form_tag users_path, method: 'get' do %>
    <p class="findUsers">
      <%= label_tag :search, "Find Users:" %>
      <%= text_field_tag :search, params[:search], class: "inputBorder" %>
    </p>

    <%= submit_tag "Go", name: nil, id: "goButton", class: "submit" %>
  <% end %>
</div>

<div id="allUsers">
  <% @users.each do |user| %>
    <div class="userFrame">
      <%= image_tag("profile_pic.png") %>
      <p>
        <%= link_to user.dispname, user, class: "userLink" %>
      </p>
      <p><%= "#{user.firstname} #{user.lastname}" %></p>
      <p><%= "#{user.email}" %></p>
    </div>
  <% end %>
</div>

<%= will_paginate @users, previous_label: "&#x25C0", next_label: "&#x25B6" %>
